@use '/src/styles/mixins/layout.scss' as layout;
@use '/src/styles/mixins/breakpoints.scss' as breakpoints;

.page {
  @include layout.page;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {
  @include layout.container();
}

.row {
  @include breakpoints.sm {
    display: flex;
    gap: 24px;
  }
}

.col {
  margin-bottom: 24px;

  @include breakpoints.sm {
    flex: 1 1 auto;
    margin-bottom: 0;

    &._sm {
      width: 500px;
      flex: 0 0 auto;
    }
  }
}

.orderSummary {
  margin-bottom: 24px;
}
