@use '/src/styles/mixins/layout.scss' as layout;

.page {
  @include layout.page;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {
  @include layout.container();
}

.row {
  display: flex;
  gap: 24px;
}

.col {
  flex: 1 1 auto;

  &._sm {
    width: 500px;
    flex: 0 0 auto;
  }
}
