@use '/src/styles/mixins/layout.scss' as layout;
@use '/src/styles/mixins/breakpoints.scss' as breakpoints;

.page {
  @include layout.page;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {
  @include layout.container();
}

.row {
  @include breakpoints.md {
    display: flex;
    gap: 24px;
  }
}

.col {
  margin-bottom: 24px;

  @include breakpoints.md {
    flex: 1 1 auto;
    margin-bottom: 0;
  }

  &._sm {
    @include breakpoints.md {
      width: 350px;
      flex: 0 0 auto;
    }

    @include breakpoints.lg {
      width: 450px;
    }
  }
}

.orderSummary,
.viewCart {
  margin-bottom: 24px;
}

.viewCart {
  --button-width: 100%;

  &._desktop {
    --button-display: none;

    @include breakpoints.md {
      --button-display: flex;
    }
  }

  &._mobile {
    @include breakpoints.sm {
      --button-width: auto;
    }

    @include breakpoints.md {
      --button-display: none;
    }
  }
}