@use 'sass:math';
@use '/src/styles/mixins/breakpoints.scss' as breakpoints;

$gap: 24px;

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  @include breakpoints.xs {
    margin: math.div(-$gap, 2);
    display: flex;
    flex-wrap: wrap;
  }
}

.item {
  margin-bottom: $gap;

  @include breakpoints.xs {
    width: 50%;
    flex: 0 0 auto;
    padding: math.div($gap, 2);
    margin-bottom: 0;
  }

  @include breakpoints.sm {
    width: 33.3%;
  }
}
