@use '/src/styles/mixins/input.scss' as input;

.input {
  @include input.input-default();
}

.rate {
  max-width: 80px;
  text-align: center;
}

.message {
  resize: vertical;
  min-height: 200px;
}

.submit {
  --button-width: auto;
}
