@use '/src/styles/mixins/typography.scss' as typography;
@use '/src/styles/mixins/breakpoints.scss' as breakpoints;
@use '/src/styles/mixins/themes.scss' as themes;

.checkoutSection {
  padding: 24px;
  box-shadow: 0 5px 16px 0 rgba(black, 0.1);
  margin-bottom: 24px;
  background: var(--checkout-section-background);

  @include breakpoints.md {
    border-radius: 16px;
  }
}

.title {
  @include typography.h4();
  margin-bottom: 24px;
}

@include themes.component-theme-dark() {
  .checkoutSection {
    --checkout-section-background: #212121;
  }
}

@include themes.component-theme-light() {
  .checkoutSection {
    --checkout-section-background: white;
  }
}
