.value {
  margin-bottom: 24px;
}

.track {
  height: 4px;
  width: 100%;
  background-color: grey;
}

.thumb {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background-color: orange;
}

.rangeWrap {
  padding: 0 8px;
}
