@use '/src/styles/mixins/themes.scss' as themes;

.productCard {
  position: relative;

  &:hover {
    .image {
      transform: scale(1.1) rotate(5deg);
    }
  }
}

.nameRow {
  display: flex;
  gap: 16px;
}

.favouritesToggle {
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
}

.link {
  flex: 1 1 auto;
  text-decoration: none;
  color: var(--product-card-link-color);
  font-size: 18px;
  margin-bottom: 12px;
  display: block;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    content: '';
  }

  &:hover {
    color: var(product-card-link-hover-color);
  }

  &:active {
    color: orange;
  }
}

.imageWrap {
  padding-top: 100%;
  border-radius: 4px;
  margin-bottom: 18px;
  position: relative;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 300ms ease-out;
}

.addToCart,
.productInCart {
  margin-top: 16px;
  position: relative;
  z-index: 1;
}

.productInCart {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 42px;
  font-size: 16px;
  line-height: 1;
  gap: 8px;
  padding: 0 24px;
  background: var(--button-default-background);
  color: var(--button-default-color);
}

@include themes.component-theme-dark() {
  .link {
    --product-card-link-color: orange;
    --product-card-link-hover-color: #ffb325;
  }
}

@include themes.component-theme-light() {
  .link {
    --product-card-link-color: #393939;
    --product-card-link-hover-color: orange;
  }
}
