@use '/src/styles/mixins/themes.scss' as themes;

.productCard {
  position: relative;
}

.link {
  text-decoration: none;
  color: var(--product-card-link-color);
  font-size: 18px;
  margin-bottom: 12px;
  display: block;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    content: '';
  }

  &:hover {
    color: var(product-card-link-hover-color);
  }

  &:active {
    color: orange;
  }
}

.image {
  padding-top: 100%;
  background: var(--image-placeholder-background);
  border-radius: 4px;
  margin-bottom: 18px;
}

@include themes.component-theme-dark() {
  .link {
    --product-card-link-color: orange;
    --product-card-link-hover-color: #ffb325;
  }
}

@include themes.component-theme-light() {
  .link {
    --product-card-link-color: #393939;
    --product-card-link-hover-color: orange;
  }
}
