@use '/src/styles/mixins/layout.scss' as layout;
@use '/src/styles/mixins/links.scss' as links;

.footer {
  padding: 24px 0;
  margin-top: auto;
  text-align: right;
  background: var(--primary-background);
  box-shadow: 0 -10px 10px 0 rgba(black, 0.1);
}

.container {
  @include layout.container();
}

.link {
  @include links.link;
}
