@use '/src/styles/mixins/header.scss' as header;
@use '/src/styles/mixins/breakpoints.scss' as breakpoints;
@use '/src/styles/mixins/buttons.scss' as buttons;

.header {
  @include header.header-section();
}

.container {
  @include header.header-container();
}

.cell {
  flex: 1 1 0;

  @include breakpoints.sm() {
    flex: 0 0 auto;
  }

  &._mobileNav {
    @include breakpoints.sm() {
      display: none;
    }
  }

  &._center,
  &._right {
    display: flex;
  }

  &._center {
    display: none;
    flex: 1 1 auto;

    @include breakpoints.sm() {
      display: flex;
    }
  }

  &._right {
    justify-content: flex-end;
    gap: 24px;
  }
}

.home {
  color: orange;
  font-weight: 500;
  text-decoration: none;
  font-size: 32px;
  display: block;
  text-align: center;
}

.productSearch {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
}

.favouritesLink {
  --button-display: none;

  @include breakpoints.sm() {
    --button-display: flex;
  }
}
