@use '/src/styles/mixins/header.scss' as header;
@use '/src/styles/mixins/themes.scss' as themes;

.layout {
  min-height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  @include header.header-wrap();

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  flex: 0 0 auto;
  background: var(--header-background);
  backdrop-filter: blur(5px);
  z-index: 10;
}

@include themes.component-theme-dark() {
  .layout {
    --header-background: #{rgba(#1c1b1b, 0.75)};
  }
}

@include themes.component-theme-light() {
  .layout {
    --header-background: #{rgba(white, 0.75)};
  }
}
