@use '/src/styles/mixins/header.scss' as header;

.layout {
  min-height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  @include header.header-wrap();

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  flex: 0 0 auto;
  background: rgba(white, 0.75);
  backdrop-filter: blur(5px);
  z-index: 10;
}
