@use '/src/styles/mixins/input.scss' as input;
@use '/src/styles/mixins/buttons.scss' as buttons;

.buyRow {
  display: flex;
  gap: 24px;
}

.input {
  @include input.input-default();
}

.quantity {
  max-width: 80px;
  text-align: center;
}

.button {
  @include buttons.button();
}
