@use '/src/styles/mixins/layout.scss' as layout;
@use '/src/styles/mixins/breakpoints.scss' as breakpoints;

.page {
  @include layout.page;
}

.container {
  @include layout.container();
}

.row {
  @include breakpoints.sm {
    display: flex;
    align-items: stretch;
    gap: 24px;
  }
}

.sidebar {
  flex: 0 0 auto;
  width: 300px;
  display: none;

  @include breakpoints.md {
    display: block;
  }
}

.description {
  margin-bottom: 24px;
}

.mobileFilters {
  margin-bottom: 24px;

  @include breakpoints.md {
    display: none;
  }
}

.content {
  flex: 1 1 auto;
}

.categoryNav {
  margin-bottom: 24px;
}

.list {
  margin-bottom: 48px;
}

.pagination {
  margin-top: 48px;
}
