@use '/src/styles/mixins/layout.scss' as layout;

.page {
  @include layout.page;
}

.container {
  @include layout.container();

  display: flex;
  align-items: stretch;
  gap: 24px;
}

.sidebar {
  flex: 0 0 auto;
  width: 300px;
  padding-top: 24px;
}

.content {
  flex: 1 1 auto;
}

.categoryNav {
  margin-bottom: 24px;
}

.list {
  margin-bottom: 48px;
}
