.backdrop {
  background: rgba(black, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.modalWindow {
  background: var(--primary-background);
  border-radius: 8px;
  padding: 24px;
  position: relative;
  z-index: 1;
}
