.backdrop {
  background: rgba(black, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  backdrop-filter: blur(5px);
}

.modalWindow {
  background: var(--primary-background);
  border-radius: 8px;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}
