@use '/src/styles/mixins/links.scss' as links;
@use '/src/styles/mixins/breakpoints.scss' as breakpoints;

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.item {
  flex: 0 0 auto;
}

.page {
  @include links.link();

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4px;
  font-size: 12px;
  height: 24px;
  min-width: 24px;

  &._active {
    font-weight: bold;
    color: green;
    font-size: 14px;

    @include breakpoints.sm {
      font-size: 16px;
    }
  }

  @include breakpoints.sm {
    padding: 12px;
    min-width: 44px;
    height: 44px;
    font-size: 14px;
  }
}
