@use '/src/styles/mixins/animations.scss' as animations;

.modalFullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%; // fallback
  height: 100svh;
  display: block;
  background: var(--primary-background);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 100;

  @include animations.fade-in;
  @include animations.slide-left-in;

  animation-name: fade-in, slide-left-in;

  &._closing {
    @include animations.fade-out;
    @include animations.slide-left-out;

    animation-name: fade-out, slide-left-out;
  }
}
