@use '/src/styles/mixins/typography.scss' as typography;

.cartPlaceholder {
  margin: auto;
  text-align: center;
  padding: 24px;
}

.icon {
  color: #d7d7d7;
}

.title {
  @include typography.h1;

  color: #2d2d2d;
}
