.inputPrimaryButton {
  width: 42px;
  height: 42px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: orange;
  border-radius: 50%;
  border: none;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
  transition: 200ms;
  padding: 8px;

  &:hover {
    background: orangered;
  }

  &:active {
    background: red;
  }
}
