@use '/src/styles/mixins/layout.scss' as layout;
@use '/src/styles/mixins/buttons.scss' as buttons;

.page {
  @include layout.page;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {
  @include layout.container;
}

.row {
  display: flex;
  gap: 24px;
}

.col {
  flex: 1 1 auto;

  &._sm {
    flex: 0 0 auto;
    width: 300px;
  }
}

.orderSummary {
  margin-bottom: 24px;
}
