@use '/src/styles/mixins/buttons.scss' as buttons;
@use '/src/styles//mixins/breakpoints.scss' as breakpoints;
@use '/src/styles/mixins/themes.scss' as themes;

.cartItem {
  display: flex;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;

  @include breakpoints.sm {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.description {
  display: flex;
  gap: 24px;
  align-items: center;
  color: var(--cart-item-description-color);
  text-decoration: none;
  width: 100%;
  flex: 0 0 auto;

  @include breakpoints.sm {
    flex: 1 1 auto;
    width: auto;
  }

  &:hover {
    color: orange;
  }

  &:active {
    text-decoration: underline;
  }
}

.image {
  width: 100px;
  height: 100px;
  background: var(--image-placeholder-background);
  border-radius: 4px;
  flex: 0 0 auto;
}

.name {
  flex: 1 1 auto;
}

@include themes.component-theme-dark() {
  .description {
    --cart-item-description-color: orange;
  }
}

@include themes.component-theme-light() {
  .description {
    --cart-item-description-color: #474747;
  }
}

