@mixin button-base {
  cursor: pointer;
  transition: 200ms;

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin button($style: 'default', $max-width: 200px) {
  height: 42px;
  width: 100%;
  max-width: $max-width;
  border: none;
  transition: ease-in-out 200ms;
  cursor: pointer;
  display: var(--button-display, inline-flex);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  border-radius: 42px;
  font-size: 16px;
  line-height: 1;
  font-family: 'Ubuntu', 'Ubuntu Fallback';
  text-decoration: none;
  gap: 8px;
  padding: 0 24px;

  @if ($style =='default') {
    background: #eaeaea;
    color: #2d2d2d;

    &:hover {
      background: #d7d7d7;
    }

    &:active {
      background: #b5b5b5;
    }
  } @else if ($style == 'primary') {
    background: #0c682e;
    color: white;

    &:hover {
      background: #13843d;
    }

    &:active {
      background: orange;
      color: #2d2d2d;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin icon-button($size: 'default') {
  @include button-base;

  display: var(--button-display, inline-flex);
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  line-height: 1;
  color: #0d381d;

  @if ($size == 'default') {
    width: 42px;
    height: 42px;
    font-size: 16px;
    padding: 8px;
  } @else if ($size == 'small') {
    width: 24px;
    height: 24px;
    font-size: 14px;
    padding: 4px;
  }

  &:hover {
    color: #0c682e;
  }

  &:active {
    color: orange;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}