@use '/src/styles/mixins/layout.scss' as layout;

@mixin header-wrap {
  box-shadow: 0 -10px 55px 0 rgba(black, .2);
}

@mixin header-section() {
  padding: 24px 0;
}

@mixin header-container {
  @include layout.container();

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  min-height: 52px;
}