@mixin theme-dark() {
  --primary-background: black;
  --text-color: white;
  --primary-link: orange;
  --secondary-link: green;
  --border-primary: grey;
}

@mixin theme-light() {
  --primary-background: white;
  --text-color: black;
  --primary-link: orange;
  --secondary-link: green;
  --border-primary: grey;
}
