@mixin theme-dark() {
  --primary-background: #1c1b1b;
  --text-color: white;
  --text-secondary-color: grey;
  --primary-link: orange;
  --secondary-link: green;
  --border-primary: grey;
  --image-placeholder-background: #3b3b3b;
  --price-active: white;
  --price-accent: red;
  --price-inactive: grey;
  --button-background: green;
  --button-label: white;
  --error: red;
}

@mixin theme-light() {
  --primary-background: #fbfbfb;
  --text-color: black;
  --text-secondary-color: grey;
  --primary-link: orange;
  --secondary-link: green;
  --border-primary: grey;
  --image-placeholder-background: #858585;
  --price-active: black;
  --price-accent: red;
  --price-inactive: grey;
  --button-background: green;
  --button-label: white;
  --error: red;
}
