.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  display: block;
  text-decoration: none;
  color: var(--secondary-link);
  text-decoration: none;
  padding: 12px 0;

  &:hover {
    color: var(--primary-link);
  }

  &:active {
    text-decoration: underline;
  }
}
